<%- include('./partials/header.ejs', {isAdmin, isLoggedIn: true}) %>

<!--  div below nav -->

<!-- flex-1 takes the all the remaning vetrical space from the div thats not occupied -->
<div class="flex-1 border-2 border-black flex flex-col items-center">
  <h1 class="text-3xl font-bold mt-4 mb-2 text-center">My post</h1>
  <!-- div for actual blog content -->
  <div class="border-2 border-red-600 w-11/12 h-4/5 pl-10 pt-6">
    <h2>Posts</h2>
    <ul>
      <% posts.forEach(post => { %>
      <li>
        <a href="">
          <span class="bg-yellow-500"><%= post.title %></span>
          <span class="bg-green-300"><%= post.content %></span>
        </a>
      </li>
      <% }); %>
    </ul>
  </div>
</div>

<%- include('./partials/footer.ejs') %>
